/* FUENTES */

h1 {
    font-family: "Poppins";
    font-size: 65px;
    font-weight: 700;
    line-height: 81.25px;
    margin: 12px 0px 24px 0px;
}

/* BUSCADOR */

form.search-company-form {
    width: 100vw;
    max-width: 1140px;
}
form .company-search-keywords {
    padding-right: 0 !important;
}
form .company-search-submit {
    padding-left: 0 !important;
}
form #search {
    border-radius: 10px 0 0 10px;
}
form .company-search-submit button {
    border-radius: 0 10px 10px 0 !important;
    background: #f9fafa !important;
}
form .company-search-submit .button-container-icon {
    height: 41px;
    width: 41px;
    padding: 9px;
}
form .company-search-submit button i {
    font-size: 22px !important;
}
form .company-search-keywords::after {
    display: none !important;
}

form .button-container-icon {
    border-radius: 50%;
    background: linear-gradient(#43dad5, #123f81);
}

.page-template-template-homepage-v1
    .header-bg-default
    + .site-content-page-header::after {
    background: #123f81 !important;
}

.jh-scroll-to i {
    color: #123f81 !important;
}
.jh-scroll-to a:hover,
.jh-scroll-to a:focus {
    border-color: #43dad5 !important;
}
.jh-scroll-to a:hover i,
.jh-scroll-to a:focus i {
    background: #43dad5 !important;
    color: white !important;
}
