form.search-company-form {
    width: 100vw;
    max-width: 1140px;
}
form .company-search-keywords {
    padding-right: 0 !important;
}
form .company-search-submit {
    padding-left: 0 !important;
}
form #search {
    border-radius: 10px 0 0 10px;
}
form .company-search-submit button {
    border-radius: 0 10px 10px 0 !important;
    background: #f9fafa !important;
}
form .company-search-submit .button-container-icon {
    height: 41px;
    width: 41px;
    padding: 9px;
}
form .company-search-submit button i {
    font-size: 22px !important;
}
form .company-search-keywords::after {
    display: none;
}

form .button-container-icon {
    border-radius: 50%;
    background: linear-gradient(#43dad5, #123f81);
}
