/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
p,
a,
span,
li,
ul,
ol,
button,
input,
textarea,
select,
option,
div {
    font-family: "Poppins", "Quicksand", sans-serif !important;
}
h1 {
    font-size: 65px !important;
    font-weight: 700 !important;
    line-height: 81.25px !important;
    margin: 12px 0px 24px 0px !important;
}
h2 {
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 22.1px !important;
    margin: 0px 0px 24px 0px !important;
}

h2.section-sub-title {
    color: white !important;
}

h3.company-listing-loop-company__title,
.company-details .company-listing-company strong {
    color: #123f81 !important;
}
h3.company-listing-loop-company__title::after {
    display: none !important;
}
/* HEADER */
header.site-content-page-header {
    background-size: cover !important;
}

.page-template-template-homepage-v1 .site-content-page-header-inner {
    padding-top: 125px !important;
    padding-bottom: 200px !important;
}
header .sticky-wrapper,
#content {
    max-width: 1170px !important;
    margin: 0 auto !important;
}
header .section-heder {
    max-width: 1170px !important;
    margin: auto !important;
}

header h1,
header h2 {
    margin: 0 30px !important;
    text-align: left !important;
}
header h1 {
    margin-top: 20px !important;
}
@media (max-width: 1181px) {
    form.search-company-form,
    header .sticky-wrapper,
    #content {
        max-width: 75vw !important;
    }
}
@media (max-width: 991.98px) {
    form.search-company-form {
        flex-wrap: nowrap !important;
        margin: auto !important;
    }
}
/* BUSCADOR */

form.search-company-form {
    width: 100vw;
    max-width: 1140px;
}
form .company-search-keywords {
    padding-right: 0 !important;
}
form .company-search-submit {
    padding-left: 0 !important;
}
form #search {
    border-radius: 10px 0 0 10px;
}
form .company-search-submit button {
    border-radius: 0 10px 10px 0 !important;
    background: #f9fafa !important;
}
form .company-search-submit .button-container-icon {
    height: 41px;
    width: 41px;
    padding: 9px;
}
form .company-search-submit button i {
    font-size: 22px !important;
}
form .company-search-keywords::after {
    display: none !important;
}

form .button-container-icon {
    border-radius: 50%;
    background: #123f81;
}

.page-template-template-homepage-v1
    .header-bg-default
    + .site-content-page-header::after {
    background: #123f81 !important;
}

.jh-scroll-to i {
    color: #123f81 !important;
}
.jh-scroll-to a:hover,
.jh-scroll-to a:focus {
    border-color: #43dad5 !important;
}
.jh-scroll-to a:hover i,
.jh-scroll-to a:focus i {
    background: #43dad5 !important;
    color: white !important;
}
